@font-face {
  font-family: 'YourFont';
  src: url('un.otf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative; /* Add this line */
}
body::after {
  content: '';
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Assets/launches.jpg');
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


header {
  background-color: white;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'YourFont';

}

h1 {
  font-size: 24px;
  font-family: 'YourFont';

}

main {
  padding: 20px;
  font-family: 'YourFont';

}

#launches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  font-family: 'YourFont';
  justify-items: center; /* Add this line */
  align-items: center; /* Add this line */

  padding-left: 3%;
  width: calc(100% - 40px); /* Add this line */
  
  justify-self: center; /* Add this line */
  

}

.launch-card {
  position: relative;
  height: 400px;
  width: 1400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1.8);
 

  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  font-family: 'YourFont';
  transition: transform 0.3s;


  

}
.launch-card:hover {
  transform: scale(1.05);
}

.launch-caption {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  /* Add other styles for the caption text */
}

.launch-details {
  font-size: 10px;
  padding: 20px;
  color: #fff;
  font-family: 'YourFont';

}

.launch-details h3,
.launch-details p {
  color: #fff;
  font-family: 'YourFont';

}


h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family:  "sans-serif";

}

p {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'YourFont';

}

.launch-image img {
  width: 100%;
  height: auto;
  font-family: 'YourFont';

}

.launch-text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'YourFont';
}

.launch-option {
  flex: 1;
  text-align: center;
}

.launch-option p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  font-family: 'YourFont';
}

.active {
  color: #0b7209;
  text-decoration: underline;
  font-family: 'YourFont';
}


.no-underline {
  text-decoration: none;
}

.launch-section {
  position: relative;
  z-index: 1;
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 120px;
  top: 32px;
  right: auto;
  z-index: 2;
}

.launch-option {
  display: inline-block;
  margin: 10px;
}

.launch-option button {
border: none;
background: transparent; /* Set the background to transparent */
color: white;
outline: none;
cursor: pointer;
padding: 10px;
text-decoration: none;
border-radius: 15px;
font-size: 20px; /* Set the desired font size */
padding: 15px 20px;

}

.launch-option button.active {
background-color: rgba(125, 148, 138, 0.514); /* Set the background color when the button is active */
color: white;
}


  .pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: none;
    background: transparent; /* Set the background to transparent */
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px; /* Set the desired font size */
    padding: 15px 20px;
    
    
  }

  .pagination-buttons button {
    margin: 0 20px;
    font-size: xx-large;
    margin-bottom: 4%;
    margin-top: 4%;
    color:white;
    background-color: rgb(73, 88, 82); /* Set the background color when the button is active */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: none;
  
    
    outline: none;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px; /* Set the desired font size */
    padding: 15px 20px;

  }

 
  .success p.button {
    font-size: 17px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    padding: 0.8% 0.8%;
    background-color: rgb(38, 163, 38);
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 3px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.failure p.button {
  font-size: 17px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 0.8% 0.8%;
  background-color: rgb(184, 58, 58);
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 3px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.pfailure p.button {
  font-size: 17px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 0.8% 0.8%;
  background-color: rgb(192, 192, 56);
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: 3px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
    
    