/* First Page Styling */
body {
  margin: 0;
  padding: 0;
}

.first-page {
  height: 100vh;
  background-image: url('cy3-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.countdown-text {
  font-size: 30px;
  margin-bottom: 20px;
}

.countdown-numbers {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.number {
  font-size: 96px;
  padding: 0 10px;
  width: 140px;
  text-align: center;
}

.label {
  font-size: 18px;
  margin-top: 10px;
}

.swipe-up-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.double-chevron {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  margin-bottom: -1px;
  border-color: #fff;
}

.swipe-up-text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* Second Page Styling */
.second-page {
  background: linear-gradient(to right, #000 30%, #0000FF);
  color: #fff;
  font-size: 18px;
  height: 100vh;
}

.second-page .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 150px);
  padding: 40px;
  font-size: 18px;
}

.second-page .cy3-image {
  flex: 0.4;
  max-width: 100%;
  height: auto;
}

.second-page .info-box {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
}

.second-page .info-box .heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
}

.second-page .info-box .info {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

.second-page .info-box .info span {
  font-weight: bold; /* Add this line to make the text before the dash bold */
}
