/* First Page Styling */

@font-face {
  font-family: 'Countdown';
  src: url('Assets/open-sans.extrabold.ttf') format('opentype');
}


@font-face {
  font-family: 'Buttons';
  src: url('Assets/cooper-hewitt.semibold.otf') format('opentype');
}
@font-face {
  font-family: 'About';
  src: url('../Assets/open-sans.light.ttf') format('opentype');
}
body {
  margin: 0;
  padding: 0;
}

.first-page {
  height: 100vh;
  background-image: url('Assets/cy3-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.countdown-text {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Countdown';
}

.countdown-numbers {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.number {
  font-size: 105px;
  padding: 0 10px;
  width: 140px;
  text-align: center;
}

.label {
  font-size: 25px;
  font-family: 'Countdown';
  margin-top: 10px;
}

.swipe-up-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.double-chevron {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  transform: rotate(45deg);
  margin-bottom: -1px;
  border-color: #fff;
}

.swipe-up-text {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* Second Page Styling */
.second-page {
  background-image: url('Assets/2page.png');
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff53;
  font-size: 18px;
  height: 100%;
}

.second-page .content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 150px);
  padding: 40px;
  font-size: 18px;
}

.second-page .cy3-image {
  flex: 0.36;
  max-width: 100%;
  height: auto;
}

.second-page .info-box {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 80px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
}

.second-page .info-box .heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8%;
  margin-top: -6%;
  
}

.second-page .info-box .info {
  font-size: 25px;
  font-family: 'Buttons';
  margin-bottom: 20px;
}

.second-page .info-box .info span {
  font-weight: bolder;
  font-family: 'Buttons'; 
  font-size: 30px;
  line-height: 25px;
}
.second-page h1{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}



/* Third Page Styling */
.third-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex; /* Add this line to make the content stretch to fill the entire height */
  align-items: center; /* Add this line to vertically center the content */
  justify-content: center; /* Adjusted to center content horizontally */
}
.third-page h1{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}
.third-page .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 40px;
}

.third-page .info-box {
  flex: 0.5;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
}

.third-page .info-box .heading {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8%;
  margin-top: -2%;
  
}

.third-page .info-box .info {
  font-size: 25px;
  font-family: 'Buttons';
  margin-bottom: 20px;
  text-align: justify;
}

.third-page .info-box .info span {
  font-weight: bolder;
  font-family: 'Buttons'; 
  font-size: 30px;
  line-height: 25px;
}


    
    



    body{
      background-image: url('../../Rockets/PSLV/Assets/pslvbg.jpg');
    }
.details-box{

  background-color: #1a1916e1;
  position: relative;
  z-index: 1;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding: 6%;
  padding-bottom: 10%;
  border: 4px solid #000000;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1.8);   
  
}

.details-box h2{
  font-size: 50px;
  color: aliceblue;
  margin-top: -5%;
  margin-bottom: 7%;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}
.details-box h3{
  font-size: 40px;
  color: aliceblue;
  margin-top: -5%;
  margin-bottom: 7%;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.details-box h5{
    margin-top: 5%;
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
  }
  .details-box h6{
    margin-left: 8%;
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
  }

  .details-box h4{
    display: inline-flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: -5%;
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
  }

  .details-box h7{
    display: inline-flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
  }


  i{
    margin-top: 5%;
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
    
  }
  .details-box li{
    
    font-family: 'About';
    font-size: 22px;
    word-spacing: 5px;
    text-align: justify;
    line-height: 40px;
    color: aliceblue;
  }
  
    
.solid-line {
   margin-top: -5%;
   border-top: 2px solid rgb(127, 102, 102);
   margin-bottom: 10%;
  }

  .solid-line2 {
    margin-top: 8%;
    border-top: 2px solid rgb(127, 102, 102);
    margin-bottom: 10%;
   }



   .img1 {
    margin-top: -5%;
    margin-bottom: 10%;
    display: inline-flex;
    margin-left: 13%;
   
  }
  
  .img1 img{
    margin-left: 10%;
    margin-right: 0%;
  }
  
  .img2 img{
    margin-left: 30%;
    margin-top: -13%;
  }
  
  
  .img3 {
    margin-top: 2%;
    display: inline-flex;
    margin-left: 10%;
   
  }
  
  .img3 img{
    margin-left: 15%;
    margin-right: 0%;
  }
  
  .img4 img{
    margin-left: 30%;
    margin-top: 5%;
  }
  
  
  .img5 img{
    margin-left: 50%;
    margin-top: -20%;
  }
  
  
  
  
  .flex-container {
    display: flex;
    align-items: center;
    font-family: 'About';
  }
  
  .text-container {
    flex: 1;
    
  }
  
  .text-container h5 {
    white-space: nowrap;
  }
  
  
  .image-container {
    flex: 1;
    margin-left: 20%;
  }
  
  
  .img6 img{
    margin-left: 40%;
    margin-top: 5%;
  }
  
  
  .img7 img{
    margin-left: 30%;
    margin-top: -8%;
    margin-bottom: 5%;
    
   
  }
  
  .img8 img{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .img9 img{
    margin-left: 40%;
    margin-bottom: 5%;
   
  }
  
  .img10 img{
    margin-left: 40%;
    margin-top: -5%;
  }
  
  .img11 img{
    margin-left: 30%;
    margin-top: -5%;
  }
  
  .img12 img{
    margin-left: 10%;
    margin-top: -5%;
  }
  
  .img15 img{
   
    margin-top: -5%;
    margin-bottom: 5%;
  }
  
  .flex-container{
    margin-top: -5%;
  }
  








  @media only screen and (max-width: 600px) {

  .first-page {
    background-attachment: scroll;
  }

  #countdown {
    top: 40%;
  }

  .countdown-text {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .countdown-numbers {
    flex-direction: column;
    align-items: center;
  }

  .countdown-section {
    margin: 10px 0;
  }

  .number {
    font-size: 48px;
    padding: 0 5px;
    width: 80px;
  }

  .label {
    font-size: 12px;
    margin-top: 5px;
  }

  .swipe-up-container {
    bottom: 20px;
  }

  .double-chevron {
    width: 10px;
    height: 10px;
    border-width: 0 1px 1px 0;
    margin-bottom: -0.5px;
  }

  .swipe-up-text {
    font-size: 12px;
    margin-top: 5px;
  }

  .second-page {
    background: linear-gradient(to right, #000 30%, #0000FF);
    color: #fff;
    font-size: 18px;
    height: 180vh;
    display: flex;
    flex-direction: column;
  }

  .second-page .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 18px;
  }

  .second-page .cy3-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 25px; 
  }

  .second-page .info-box {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 80px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }

  .second-page .info-box .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .second-page .info-box .info {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .third-page .content-wrapper {
    flex-direction: column;
    padding: 20px;
  }

  .third-page .info-box {
    padding: 40px;
  }

  .third-page .info-box .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .third-page .info-box .info {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .text-container h2 {
    font-size: 24px;
  }

  .text-container p {
    font-size: 14px;
  }


  .details-box {
    padding: 4%;
    padding-bottom: 6%;
    
  }

  .details-box h2 {
    font-size: 36px;
  }

  .details-box h3 {
    font-size: 30px;
  }

  .details-box h5,
  .details-box h6,
  .details-box h4,
  .details-box h7,
  i,
  .details-box li {
    font-size: 14px;
    line-height: 24px;
  }

  .img1,
  .img3 {
    flex-direction: column;
    align-items: center;
  }

  .img1 img,
  .img2 img,
  .img3 img,
  .img4 img,
  .img5 img,
  .img6 img,
  .img7 img,
  .img8 img,
  .img9 img,
  .img10 img,
  .img11 img,
  .img12 img,
  .img15 img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-container h5 {
    white-space: normal;
    margin-bottom: 10px;
  }

  .image-container {
    margin-left: 0;
    width: 100%;
  }
}






