@font-face {
  font-family: 'YourFont';
  src: url('Assets/fonts/un.otf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: white;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'YourFont';

}

h1 {
  font-size: 24px;
  font-family: 'YourFont';

}

main {
  padding: 20px;
  font-family: 'YourFont';

}

#launches {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  font-family: 'YourFont';
  justify-items: center; /* Add this line */
  align-items: center; /* Add this line */

  

}

.launch-card {
  position: relative;
  height: 400px;
  width: 1400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 1.8);
 

  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  font-family: 'YourFont';
  transition: transform 0.3s;

}
.launch-card:hover {
  transform: scale(1.05);
}

.launch-caption {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  /* Add other styles for the caption text */
}

.launch-details {
  font-size: 10px;
  padding: 20px;
  color: #fff;
  font-family: 'YourFont';

}

.launch-details h3,
.launch-details p {
  color: #fff;
  font-family: 'YourFont';

}


h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family:  "sans-serif";

}

p {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: 'YourFont';

}

.launch-image img {
  width: 100%;
  height: auto;
  font-family: 'YourFont';

}

.launch-text {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'YourFont';
}

.launch-option {
  flex: 1;
  text-align: center;
}

.launch-option p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  font-family: 'YourFont';
}

.active {
  color: #0b7209;
  text-decoration: underline;
  font-family: 'YourFont';
}


.no-underline {
  text-decoration: none;
}
