.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar li {
  display: inline-block;
  vertical-align: middle;
}

.navbar li .logo {
  margin-right: 10px;
}

.logo img {
  height: 50px; /* Adjust the height as per your logo's dimensions */
}

.navbar li a {
  display: inline-block;
  color: #fff; /* Set the color of the menu links */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
}

.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Set the background color for the hover effect */
}

body {
  background-image: url("image1.png");
  background-size: cover;
}

