body {
    background-image: url('image1.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center -50px;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    margin-top: 4%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right-container {
    width: 30%;
    margin-left: 10px;
  }

  .countdown-container {
background-color: rgba(0, 0, 0, 0.7); /* Translucent black background */
border-radius: 10px;
padding: 20px;
margin-bottom: 20px;
z-index: 1; /* Add higher z-index value */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}


  .countdown-title {
    font-size: 24px;
    margin-bottom: 10px;

  }

  .countdown-timer {
    font-size: 40px;
  }

  .updates-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    height: 250px;
  }

  .countdown-title,
  .countdown-timer,
  .updates-title,
  .update-description {
     color: white;
}


  .updates-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .updates-scroll {
    max-height: 200px;
    overflow-y: auto;
  }

  .update {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .update img {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }

  .update-description {
    margin: 0;
  }

  .carousel-container:hover {
    transform: scale(1.05);
    /* Increase the size of the container */
     
    /* Add a smooth transition effect */
  }

  .center-container {
    width: 65%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
  }

  .carousel-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .carousel-slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-slide img {
    width: 100%;
    height: auto;
    /* Change this line */
    object-fit: contain;
    /* Change this line */
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption {
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-shadow: 2px 2px 4px black;
  }

  .carousel-slide:not(.active) {
    opacity: 0;
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }

  .carousel-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
  }

  .carousel-dot.active {
    background-color: white;
  }


  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98%;
    padding: 20px;
}



.quick-links-container {
margin-top: 7%;
margin-left: 4%;
margin-bottom: 5%;

}

.quick-links-title {
font-size: 24px;
margin-bottom: 10px;
color: white;
}

.quick-links {
display: flex;
flex-wrap: wrap;
}

.quick-link-card {
width: 140px;
height: 100px;
margin-right: 10px;
margin-bottom: 10px;
border: 1px solid white;
border-radius: 5px;
overflow: hidden;
}

.quick-link-card img {
width: 100%;
height: 75%;
object-fit: cover;
}

.quick-link-caption {
font-size: 12px;
padding: 5px;
text-align: center;
color: white;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
  }

  .carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .carousel-arrow-left {
    left: 15px;
  }

  .carousel-arrow-right {
    right: 15px;
  }

  .quick-links-container2 {
    margin-top: 7%;
    padding: 2%;
    background-color: inherit;
    text-align: center;
    }

    .quick-links-container2 h1{
      color: white;
      font-size: 12px;
      font-family: sans-serif;
      font-weight: 100;
      display: inline;
      margin-right: 5%;
      margin-left: 10%;
    }
    
    .quick-links-container2 h3{
      color: white;
      font-size: 22x;
      font-family: sans-serif;
      font-weight: 600;
      display: inline;
      margin-right: 5%;
    }
    
