@font-face {
  font-family: 'YourFont';
  src: url('un.otf') format('opentype');
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 20px;
}

.logo {
  width: 350px;
  margin-left: 200px;
  margin-top: 300px;
}

.text {
  color: white;
  font-size: 70px;
  text-align: right;
  margin-right: 200px;
  font-family: 'YourFont';
  line-height: 0.4; /* Adjust the line height to reduce the gap */  
  text-shadow: 0 0 20px blue;



}

.subtext {
  color: white;
  font-size: 49px;
  text-align: right;
  font-family: 'YourFont';
      padding-top: -1px;
}

